<div class="mt-5">
    <div class="card m-auto" style="width: 70vw;">
        <div class="card-body shadow-lg">
            <h5 class="card-title text-center">ĐẶT VÉ MÁY BAY</h5>
            <div class="row m-4">
                <div class="col-12 col-sm-6 col-md-4">
                    <label for="exampleFormControlInput1" class="form-label">Họ và tên (Name) :</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="L.Messi">
                </div>

                <div class="col-12 col-sm-6 col-md-4">
                    <label for="exampleFormControlInput2" class="form-label">CCCD/CMND (Citizen identification
                        card)</label>
                    <input type="text" class="form-control" id="exampleFormControlInput2"
                        placeholder="00120499583784">
                </div>

                <div class="col-12 col-sm-6 col-md-4">
                    <label for="exampleFormControlInput3" class="form-label">Email :</label>
                    <input type="email" class="form-control" id="exampleFormControlInput3"
                        placeholder="namchu2003x1@gmail.com">
                </div>
            </div>

            <div class="row m-4">
                <div class="col-12 col-sm-6 col-md-4">
                    <label for="exampleFormControlInput5" class="form-label">Giới tính(Sex)</label>
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-6">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                  Nam(Men)
                                </label>
                              </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-6">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                  Nữ(Women)
                                </label>
                              </div>
                        </div>
                    </div>

                </div>

                <div class="col-12 col-sm-6 col-md-4">
                    <label for="exampleFormControlInput5" class="form-label">Số điện thoại(Phone number)</label>
                    <input type="text" class="form-control" id="exampleFormControlInput5" placeholder="0981688583">
                </div>

                <div class="col-12 col-sm-6 col-md-4">
                    <label for="exampleFormControlInput6" class="form-label">Chọn chuyến bay(
                        Select flight)</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>---Chọn(Select)---</option>
                        <option value="1">VietNam -- South Korea</option>
                        <option value="2">VietNam -- ThaiLand</option>
                        <option value="3">VietNam -- China</option>
                    </select>
                </div>
            </div>

            <div class="row m-4">
                <div class="col-12 col-sm-6 col-md-4">
                    <label for="exampleFormControlInput6" class="form-label">Ngày sinh(Birthday)</label>
                    <input type="date" class="form-control" id="exampleFormControlInput5" placeholder="0981688583">
                </div>

                <div class="col-12 col-sm-6 col-md-4">
                    <label for="exampleFormControlInput6" class="form-label">Hành lý(
                        Luggage)</label>
                    <input type="text" class="form-control" id="exampleFormControlInput5" placeholder="...">
                </div>

                <div class="col-12 col-sm-6 col-md-4">
                    <label for="exampleFormControlInput6" class="form-label">Hình thức thanh toán(
                        Payments)</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>---Chọn(Select)---</option>
                        <option value="1">Tiền mặt(Cash)</option>
                        <option value="2">Chuyển khoản(Banking)</option>
                        <option value="3">Sử dụng thẻ(Use card)</option>
                    </select>
                </div>
            </div>

            <div class="row m-5">
                <div class="col-12 col-sm-6 col-md-6 text-center mb-2 mb-sm-0">
                    <a href="#" class="btn btn-primary">Đặt vé(Book tickets)</a>
                </div>

                <div class="col-12 col-sm-6 col-md-6 text-center">
                    <a href="#" class="btn btn-primary">Làm trắng(Reset)</a>
                </div>
            </div>
        </div>
    </div>
</div>