
<div class="card mt-5">
    <div class="card-header">
        <b>{{listTitle}}</b>
    </div>

    <div class="card-body">
        <a href="#!add-user" class="btn btn-success mb-3">Thêm người dùng</a>
        <table class="table table-bordered table-hover">
            <thead>
                <th>STT</th>
                <th>Ho va ten</th>
                <th>So dien thoai</th>
                <th>Email</th>
                <th>Ngay sinh</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr ng-repeat="item in listUser">
                    <td>{{$index + 1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.phone}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.NgaySinh | date: "dd/MM/yyyy"}}</td>
                    <td>
                        <a href="#!/detail-user/{{item.id}}" class="btn btn-primary">Detail</a>
                        <butotn class="btn btn-danger" ng-click="DeleteUser(item.id)">Delete</butotn>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="card-footer">

    </div>
</div>