<h1 class="text fw-bold m-5 text-center">GIỚI THIỆU</h1>
<div class="m-5">
    <h4>
        Vietack Airlines - Kết Nối Đam Mê Bay Cao
    </h4>

    <span>
        Chào mừng bạn đến với Vietack Airlines, hãng hàng không hàng đầu của Việt Nam, nơi mỗi chuyến bay là một hành
        trình đáng nhớ. Vietack cam kết mang đến cho hành khách những trải nghiệm bay an toàn, thoải mái và đẳng cấp.
        Với đội ngũ phi hành đoàn chuyên nghiệp, thân thiện và dịch vụ khách hàng tận tâm, Vietack luôn đồng hành cùng
        bạn trên mọi chặng đường.

        Tự hào sở hữu đội bay hiện đại cùng mạng lưới tuyến bay phủ sóng rộng khắp, Vietack kết nối các thành phố lớn
        trong nước và quốc tế, mang thế giới đến gần hơn với bạn. Chúng tôi không ngừng cải tiến và nâng cao chất lượng
        dịch vụ, từ không gian nội thất tiện nghi, các suất ăn hấp dẫn đến các tiện ích giải trí đa dạng trên máy bay.

        Hãy cùng Vietack Airlines chinh phục bầu trời, khám phá những chân trời mới và trải nghiệm những giây phút thăng
        hoa trong mỗi hành trình. Vietack - Kết nối đam mê, bay cao mọi nơi!
    </span>
</div>