<h1  class="text fw-bold m-5 text-center">LIÊN HỆ</h1>
<div class="m-5">
    <h6>
        Hãy liên hệ với chúng tôi nếu như bạn cần qua các kênh liên lạc sau :
    </h6>

    <div class="row">
        <div class="col">
            <span>Số điện thoại : 0981688583</span>
        </div>

        <div class="col">
            <span>Facebook : <a href="https://www.facebook.com/minhhong112204" target="_blank">https://www.facebook.com/minhhong112204</a></span>
        </div>

        <div class="col">
            <span>Instagarm : <a href="https://www.instagram.com/sotn_ming04/" target="_blank">https://www.instagram.com/sotn_ming04/</a></span>
        </div>
    </div>
</div>